<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Подтверждение заказа</title>
    <script>
        function setPurchase() {
            document.getElementById("purchase").value = true;
        }
    </script>
</head>

<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Проверьте и подтвердите свой выбор:</h3>
    <div class="mt-3" style="max-width: 50vw">
        <label for="filmTitle" class="form-label"><h6>Название фильма:</h6></label>
        <input type="text" class="form-control" id="filmTitle" th:value="${filmTitle}" disabled readonly>
    </div>
    <div class="my-4" style="max-width: 50vw">
        <label class="form-label"><h6>Начало сеанса:</h6></label>
        <div class="row g-2">
            <div class="col-md-2">
                <h7 class="ms-2">Дата:</h7>
                <input type="date" class="form-control" id="sessionStartDate" th:value="${filmSession.startDate}" disabled readonly>
            </div>
<!--            <div class="col-md">-->
<!--            </div>-->
            <div class="col-md-2">
                <h7 class="ms-2">Время:</h7>
                <input type="time" class="form-control" id="sessionStartTime" th:value="${filmSession.startTime}" disabled readonly>
            </div>
<!--            <div class="col-md">-->
<!--            </div>-->
        </div>
    </div>
    <form class="needs-validation" style="max-width: 50vw" method="POST" th:action="@{/orders/add}" th:object="${orderForm}">
        <input name="userId" type="hidden" th:value="${#authentication.getPrincipal().getUserId()}">
        <input name="filmSessionId" type="hidden" th:value="${orderForm.filmSessionId}">
<!--        <input name="seatIds" type="hidden" th:each="seatId : ${orderForm.seatIds}" th:value="${seatId}">-->
        <input type="hidden" th:field="*{seatIds}" th:value="${orderForm.seatIds}">
        <input name="cost" type="hidden" th:value="${filmSession.price} * ${orderForm.seatIds.size()}">
        <input name="purchase" type="hidden" value="false" id="purchase">
        <h6 class="mt-3 mb-1">Выбранные места:</h6>
        <div class="row g-2 mx-1">
            <div class="col-md-2 me-4" th:each="seat : ${seats}">
                <div class="row g-0">
                    <div class="col-md ps-0 pe-1">
                        <label for="row">Ряд:</label>
                        <input type="number" class="form-control" id="row" th:value="${seat.row}" disabled readonly>
                    </div>
                    <div class="col-md ps-0 pe-1">
                        <label for="place">Место:</label>
                        <input type="number" class="form-control" id="place" th:value="${seat.place}" disabled readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-1 mt-3 align-items-end">
            <div class="col-md-2">
                <h6 class="ms-2">Стоимость:</h6>
            </div>
            <div class="col-md-2">
                <label for="costPreview"></label>
                <input type="number" class="form-control" id="costPreview" th:value="${filmSession.price} * ${orderForm.seatIds.size()}" disabled readonly>
            </div>
        </div>
<!--        <div class="mb-3">-->
<!--            <label for="cost" class="form-label">Стоимость:</label>-->
<!--            <input name="cost" type="number" class="form-control" id="cost" th:value="${filmSession.price}" readonly>-->
<!--        </div>-->
        <div class="mt-3 row g-2">
            <button th:if="${seats.size() gt 0}" type="submit" class="btn btn-primary" onclick="setPurchase()">Купить</button>
            <button th:if="${seats.size() lt 3}" type="submit" class="btn btn-primary">Забронировать</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>

</html>