<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Просмотр заказа</title>
</head>

<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'Информация о заказе №' + ${order.id} + ' от ' + ${#temporals.format(order.createdWhen, 'dd.MM.yyyy HH:mm')}"></h3>
    <div class="mt-3" style="max-width: 50vw">
        <label for="filmTitle" class="form-label"><h6>Название фильма:</h6></label>
        <input type="text" class="form-control" id="filmTitle" th:value="${filmTitle}" disabled readonly>
    </div>
    <div class="my-4" style="max-width: 50vw">
        <label class="form-label"><h6>Начало сеанса:</h6></label>
        <div class="row g-2">
            <div class="col-md-2">
                <h7 class="ms-2">Дата:</h7>
                <input type="date" class="form-control" id="sessionStartDate" th:value="${filmSession.startDate}" disabled readonly>
            </div>
<!--            <div class="col-md">-->
<!--            </div>-->
            <div class="col-md-2">
                <h7 class="ms-2">Время:</h7>
                <input type="time" class="form-control" id="sessionStartTime" th:value="${filmSession.startTime}" disabled readonly>
            </div>
<!--            <div class="col-md">-->
<!--            </div>-->
        </div>
        <h6 class="mt-3 mb-1">Выбранные места:</h6>
        <div class="row g-2 mx-1">
            <div class="col-md-2 me-4" th:each="seat : ${seats}">
                <div class="row g-0">
                    <div class="col-md ps-0 pe-1">
                        <label for="row">Ряд:</label>
                        <input type="number" class="form-control" id="row" th:value="${seat.row}" disabled readonly>
                    </div>
                    <div class="col-md ps-0 pe-1">
                        <label for="place">Место:</label>
                        <input type="number" class="form-control" id="place" th:value="${seat.place}" disabled readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-1 mt-3 align-items-end">
            <div class="col-md-2">
                <h6 class="ms-2">Стоимость:</h6>
            </div>
            <div class="col-md-2">
                <label for="costPreview"></label>
                <input type="number" class="form-control" id="costPreview" th:value="${order.cost}" disabled readonly>
            </div>
        </div>
    </div>
    <form class="needs-validation" style="max-width: 50vw" method="POST" th:action="@{/orders/purchase}" th:object="${orderForm}">
        <input name="id" type="hidden" th:value="${order.id}">
        <div class="mt-3 row g-2">
            <button sec:authorize="isAuthenticated() && hasRole(T(ru.sbercourse.cinema.ticketoffice.constants.UserRolesConstants).USER)"
                    th:if="${!order.purchase} and ${canPurchased}" type="submit" class="btn btn-primary">Купить</button>
<!--            <a th:if="${!order.purchase}" class="btn btn-outline-danger" th:href="'/orders/delete/' + ${order.id}"-->
<!--               onclick="return confirm('Вы действительно хотите отменить бронирование?');">Отменить</a>-->
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>

</html>