<header xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        th:fragment="header">
  <nav class="navbar navbar-expand-md fixed-top" style="background-color: lightslategrey">
    <div class="container-fluid">
      <img src="/img/logo.png" style="max-height: 40px" alt="">
      <a class="navbar-brand ms-3 me-4" href="/" style="color: whitesmoke">Кинотеатр "Победа"</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item" sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))">
            <a class="nav-link active" aria-current="page" href="/films">Фильмы</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))">
            <a class="nav-link" aria-current="page" href="/filmCreators">Создатели</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))">
            <a class="nav-link" aria-current="page" href="/seats">Места</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))">
            <a class="nav-link" aria-current="page" href="/orders">Заказы</a>
          </li>
          <li class="nav-item" sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('MANAGER'))">
            <a class="nav-link" aria-current="page" href="/orders/results">Результаты</a>
          </li>
          <li sec:authorize="isAuthenticated() && hasRole('ADMIN')">
            <a class="nav-link" aria-current="page" href="/users">Пользователи</a>
          </li>
        </ul>
        <div sec:authorize="isAuthenticated() && hasRole(T(ru.sbercourse.cinema.ticketoffice.constants.UserRolesConstants).USER)">
          <a class="nav-link mx-2 my-2" th:href="'/orders/user/' + ${#authentication.getPrincipal().getUserId()}">Мои заказы</a>
        </div>
        <div sec:authorize="isAuthenticated() && !hasRole('ADMIN')">
          <a class="nav-link mx-2 my-2" th:href="'/users/profile/' + ${#authentication.getPrincipal().getUserId()}">Профиль</a>
        </div>
        <form class="d-flex" sec:authorize="!isAuthenticated()">
          <a href="/login" class="btn btn-secondary ms-4" role="button" aria-disabled="true" style="color: whitesmoke; background-color: slategrey;">Войти</a>
        </form>
        <form class="d-flex" sec:authorize="isAuthenticated()">
          <a href="/logout" class="btn btn-secondary ms-4" role="button" aria-disabled="true" style="color: whitesmoke; background-color: slategrey;">Выйти</a>
        </form>
      </div>
    </div>
  </nav>
</header>
