<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Изменить фильм</title>
</head>

<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Изменить фильм</h3>
    <form enctype="multipart/form-data" class="needs-validation" style="max-width: 50vw" method="POST" th:action="@{/films/update}" th:object="${filmForm}">
        <input type="hidden" name="id" th:value="${film.id}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="title" th:value="${film.title}" type="text" class="form-control" id="title" required>
                    <label for="title">Название фильма</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <select class="form-select" name="genre" id="genre" th:object="${film}" th:field="*{genre}" required>
<!--                        <option selected th:value="${film.genre}" th:text="${film.genre.text}"></option>-->
                        <option th:selected="${film.genre.text}"
                                th:each="genre : ${T(ru.sbercourse.cinema.ticketoffice.model.Genre).values()}"
                                th:value="${genre}" th:text="${genre.text}"></option>
                    </select>
                    <label for="genre">Жанр фильма</label>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="country" th:value="${film.country}" type="text" class="form-control" id="country" required>
                    <label for="country">Страна</label>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating">
                    <input name="releaseYear" th:value="${film.releaseYear}" type="number" min="1895"  max="2999" class="form-control" id="releaseYear" required>
                    <label for="releaseYear">Год выхода</label>
                </div>
            </div>
        </div>

<!--        <hr class="hr mb-2"/>-->
        <h5 class="mt-3">Создатели:</h5>
        <div class="mt-1 row g-1" th:each="filmCreator : ${film.filmCreators}">
            <div class="col-md" th:text="${filmCreator.position} + ': '"></div>
            <div class="col-md" th:text="${filmCreator.fullName}"></div>
            <div class="col-md">
                <a class="btn btn-sm btn-outline-danger" th:href="'/films/' + ${film.id} + '/deleteFilmCreator/' + ${filmCreator.id}"
                   onclick="return confirm('Удалить создателя из списка?');" style="float: right">Удалить</a>
            </div>
        </div>
<!--        <form class="needs-validation" method="POST" th:action="@{/films/addFilmCreator}" th:object="${filmCreatorAddForm}">-->
<!--            <input type="hidden" name="filmId" th:value="${film.id}">-->
<!--            <div class="mt-3 row g-1 align-items-center">-->
<!--                <div class="col-md-2">-->
<!--                    <h6 class="ms-2">Добавить создателя:</h6>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <div class="form-floating">-->
<!--                        <select class="form-select" name="filmCreatorId" id="filmCreatorFullName" required>-->
<!--                            <option selected th:value="${null}">Выберите создателя</option>-->
<!--                            <option-->
<!--                                    th:each="filmCreator : ${filmCreators}"-->
<!--                                    th:value="${filmCreator.getId()}"-->
<!--                                    th:text="${filmCreator.getFullName()}">-->
<!--                            </option>-->
<!--                        </select>-->
<!--                        <label for="filmCreatorFullName">ФИО создателя</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="col-md">-->
<!--                    <button type="submit" class="btn btn-outline-dark">Добавить</button>-->
<!--                </div>-->
<!--            </div>-->
<!--        </form>-->
        <div class="mt-1 row g-1">
            <a class="btn btn-outline-dark" th:href="'/films/' + ${film.id} + '/addFilmCreator'" role="button">Добавить создателя</a>
        </div>

        <div class="mt-3 row g-2">
            <h5 class="mb-0">Постер</h5>
<!--            <label for="formFile" class="form-label fw-weight-bold">Постер</label>-->
            <input name="posterPath" th:value="${film.posterPath}" class="form-control" type="file" id="formFile">
        </div>
        <div class="mt-3 row g-2">
            <h5 class="mb-0">Описание</h5>
<!--            <label for="description">Описание</label>-->
            <textarea name="description" th:text="${film.description}" type="text" class="form-control" id="description" rows="4" required></textarea>
        </div>

        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Обновить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>

</html>
