<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row mb-2">
            <h3>Афиша кино в Саратове</h3>
        </div>
        <div class="row">
            <div class="card mb-3 me-3" style="max-width: 540px;" th:each="film : ${films}">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="/img/bttf.jpg" class="img-fluid rounded-start" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${film.title}"></h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural
                                lead-in to additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        </div>
                        <div class="row my-3 mx-5">
                            <a class="btn btn-outline-dark" th:href="'/films/' + ${film.id}" role="button">
                                Подробнее
                            </a>
<!--                            <button type="button" class="btn btn-light">-->
<!--                                <a th:href="'/films/' + ${film.getId()}">Подробнее</a>-->
<!--                            </button>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>