<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">

<head>
  <meta charset="UTF-8">
  <title>Добавить создателя</title>
</head>

<body>
<div layout:fragment="content">
  <h3 class="mt-3 mb-3">Добавить создателя</h3>
  <form class="needs-validation" style="max-width: 50vw" method="POST" th:action="@{/filmCreators/add}" th:object="${filmCreatorForm}">
    <div class="mt-3 row g-2">
      <div class="col-md">
        <div class="form-floating">
          <input name="fullName" type="text" class="form-control" id="fullName" required>
          <label for="fullName">ФИО создателя</label>
        </div>
      </div>
      <div class="col-md">
        <div class="form-floating">
          <input name="position" type="text" class="form-control" id="position" required>
          <label for="position">Позиция при создании фильма</label>
        </div>
      </div>
    </div>
    <div class="mt-3 row g-2">
      <button type="submit" class="btn btn-primary">Добавить</button>
      <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
  </form>
</div>
</body>

</html>
